<div style="display: flex; height: 300px;margin-top: 5%;">
<mat-card class="example-card" style="margin: auto;">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>You are not logged in.</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div style="display: flex">
      <button style="margin:auto" mat-raised-button color="primary" (click)="loginWithGoogle()">Login with Google</button>
    </div>
  </mat-card-content>
</mat-card>
</div>
